@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-weight: normal;
  font-size: 32;
}

body{
  --primary-bg-color: hsl(222, 26%, 31%); 
  --toggle-bg-color: hsl(223, 31%, 20%); 
  --screen-bg-color: hsl(224, 36%, 15%); 
  --text-color : white; 
  --number-color :  hsl(221, 14%, 31%); 
  --box-shadow : 0 5px 2px hsl(28, 16%, 65%);
  --range-color : hsl(25, 98%, 40%); 
  --equals-color : hsl(6, 63%, 50%); 
  --equals-shadow-color :  0 5px 2px hsl(6, 70%, 34%);
  --text-button-color : hsl(225, 21%, 49%); 
  --text-button-shadow-color:  0 5px 2px hsl(224, 28%, 35%);
  --keyboard-bg : hsl(30, 25%, 89%); 
  padding : 0 ; 
  margin : 0 ; 
  background : var(--primary-bg-color); 
  color : var(--text-color);

}

body.theme-2{
  --primary-bg-color: hsl(0, 0%, 90%); 
  --toggle-bg-color: hsl(0, 5%, 81%); 
  --screen-bg-color: hsl(0, 0%, 93%); 
  --text-color : hsl(0,0,100%);  
  --number-color :  hsl(60, 10%, 19%);
  --range-color : hsl(25, 98%, 40%); 
  --equals-color : hsl(25, 98%, 40%); 
  --box-shadow : 0 5px 2px hsl(35, 11%, 61%);
  --equals-shadow-color :  0 5px 2px hsl(25, 99%, 27%);
  --text-button-color : hsl(185, 42%, 37%);  
  --text-button-shadow-color:  0 5px 2px hsl(185, 58%, 25%);
  --keyboard-bg : hsl(45, 7%, 89%); 
}

body.theme-3{
  --primary-bg-color: hsl(268, 75%, 9%); 
  --toggle-bg-color: hsl(268, 71%, 12%); 
  --screen-bg-color: hsl(268, 71%, 12%); 
  --text-color : hsl(52, 100%, 62%);  
  --box-shadow : 0 5px 2px hsl(290, 70%, 36%);
  --number-color :  hsl(52, 100%, 62%);
  --range-color :  hsl(176, 100%, 44%); 
  --equals-color : hsl(176, 100%, 44%); 
  --equals-shadow-color :  0 5px 3px hsl(177, 92%, 70%);
  --text-button-color : hsl(281, 89%, 26%); 
  --text-button-shadow-color:  0 5px 2px hsl(285, 91%, 52%);  
  --keyboard-bg : hsl(268, 47%, 21%); 
}

.theme , .output,.input{
  display : grid;
  margin : 0 auto ;
  width: 400px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
}

.input{
  height: 380px;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(4,70px); 
  background-color: var(--toggle-bg-color);
}


.input > button{
  font-size: 20px;
  align-content: center;
  color: var(--number-color);  
  width: 80px; 
  height: 50px;
  margin : 0 auto; 
  border-radius: 5px; 
  border : none;  
  background-color: var(--keyboard-bg); 
  box-shadow: var(--box-shadow);
}

.input  > button:active{
  opacity: 0.9;
  transform: translateY(2px); 
}

button.span-two{
  grid-column-end: span 2;
  width: 170px;  
}

button[data-equals]{
   background-color:  var(--equals-color); 
   box-shadow: var(--equals-shadow-color );
   color : white; 
}

button[data-reset],button[data-delete]{
  background-color:var(--text-button-color); 
  box-shadow: var(--text-button-shadow-color); 
  color : white; 
}

.theme{ 
  width: 400px; 
  margin-top: 50px;  
  grid-template-columns: 100px 300px;
  justify-content: space-between; 
  display : flex; 
  align-items: center;
}


.theme_choice::before{
  content: "THEME";
  font-size:8px; 
  color : var(--text-color); 
  right : 60px; 
  top : 7px; 
  position: absolute;
}


.theme_choice::after{
  content: "1 2 3";
  justify-content:space-between;
  font-size:15px; 
  color : var(--text-color); 
  top : -20px;
  right : 10px;  
  position: absolute;
}

.theme_choice{
  position: relative;
  width: 50px;
  -webkit-appearance: none;
  height: 20px;
  border-radius: 50px;
  background: var(--toggle-bg-color)  ;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.theme_choice:hover{
    opacity: 1;
}
.theme_choice::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.theme_choice::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background:var(--range-color);  
  cursor: pointer;
  -webkit-appearance: none;

}

.output{
  height : 120px; 
  margin : 10px auto; 
  background-color: var(--screen-bg-color); 
  display : flex;
  align-items:flex-end; 
  justify-content:space-around;
  flex-direction:column;
  padding : 10px; 
  word-wrap: break-word;
  word-break : break-all;
}



.output .previous-operand{
  color:var(--text-color); 
  font-size: 1.5rem;
}

.output .current-operand{
  color: var(--text-color); 
  font-size: 2.5rem;
}